@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-zinc-900 to-zinc-700;
  }

  *::-webkit-scrollbar {
    width: 0.25rem;
  }

  *::-webkit-scrollbar-track {
    @apply bg-zinc-800;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-zinc-700;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }

  *::-webkit-scrollbar-thumb:active {
    @apply bg-zinc-500;
  }
}

:root {
  --fadeIn: 0.2s;
}

.fadeIn {
  animation: fadeIn ease var(--fadeIn);
  -webkit-animation: fadeIn ease var(--fadeIn);
  -moz-animation: fadeIn ease var(--fadeIn);
  -o-animation: fadeIn ease var(--fadeIn);
  -ms-animation: fadeIn ease var(--fadeIn);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
